h1  {
    color: brown;
}

#promocion  {
    color:#8b8b8bcc;
}



body {
    background-color: #fffbf7;
}

#boton {
    color: #fff;
    background-color: #025157;
    
}


#cabecera {
    color: #46484c;

}